html,
body {
  font-family: "Noto Sans JP", Arial, sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow:
    0 0 0 0.1rem white,
    0 0 0 0.25rem #258cfb;
}

.content {
  padding-top: 1.1rem;
}

h1:focus {
  outline: none;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.kyomilist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border: 5px solid #ccc;
  margin-top: -1.5em;
  border-radius: 15px;
  padding: 7px;
}

.kyomilist > li {
  list-style: none;
  margin: 0.5em;
}

.kyomih {
  display: inline-block;
  margin-left: 1em;
  padding: 5px;
  border: 3px solid #ccc;
  background-color: white;
  border-radius: 15px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

ul.blue > li:before {
  border: 3px solid #22c0e8;
}

ul.red > li:before {
  border: 3px solid #ea8181;
}

.cp {
  cursor: pointer;
}

.rirekilink {
  padding-left: 20px;
}

.sakuhin .card {
  width: 300px;
  max-width: 100%;
}

.card-aspect {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.modal-img {
  max-width: 100%;
  height: auto;
}
