---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Contact">
  <h1>コンタクト</h1>

  <p>アカウントたちです. スパム扱いされると気が付かないかもしれません.</p>

  <div class="contents">
    <a href="https://x.com/sugawa2018616" target="_blank" rel="noreferrer">
      <img class="p-1" src="/pub/logos/x.svg" width="32" height="32" alt="X" />
    </a>
    <a href="https://github.com/sugawa197203" target="_blank" rel="noreferrer">
      <img
        class="p-1"
        src="/pub/logos/github.svg"
        width="32"
        height="32"
        alt="GitHub"
      />
    </a>
    <a
      href="https://atcoder.jp/users/sugawa197203"
      target="_blank"
      rel="noreferrer"
    >
      <img
        class="p-1"
        src="/pub/logos/atcoder.png"
        width="32"
        height="32"
        alt="AtCoder"
      />
    </a>
    <a href="mailto:me@sugawa.dev" target="_blank" rel="noreferrer">
      <img
        class="p-1"
        src="/pub/logos/mail.svg"
        width="32"
        height="32"
        alt="Mail"
      />
    </a>
  </div>
</Layout>
