---
import Layout from "~/layouts/Layout.astro";
import Portfolio from "~/components/Portfolio.astro";
---

<Layout title="Home">
  <h1>SUGAWA のホームページ</h1>

  <p>ちょっとずつ作ってます．</p>

  <h3>興味</h3>

  <h5 class="kyomih">プログラム言語</h5>

  <ul class="kyomilist">
    <li>C/C++</li>
    <li>Python</li>
    <li>C#</li>
    <li>Rust</li>
    <li>Java</li>
    <li>Javascript/Typescript</li>
  </ul>

  <h5 class="kyomih">技術</h5>

  <ul class="kyomilist">
    <li>Unity</li>
    <li>ASP.net</li>
    <li>競プロ</li>
    <li>CTF</li>
    <li>Web</li>
    <li>x86</li>
    <li>ネットワーク</li>
    <li>Proxmox</li>
    <li>typst</li>
    <li>インフラ</li>
  </ul>

  <h5 class="kyomih">研究</h5>

  <ul class="kyomilist">
    <li>通信ネットワーク</li>
    <li>情報指向ネットワーク</li>
  </ul>

  <br />

  <Portfolio />
</Layout>
