---
---

<div class="nav_wrapper">
  <a class="nav_content nav_content_l" href="/">SUGAWA</a>
  <div class="nav_head">
    <a class="nav_content" href="/">ホーム</a>
    <a class="nav_content" href="/portfolio">ポートフォリオ</a>
    <a class="nav_content" href="/contact">コンタクト</a>
  </div>
  <nav class="navbar navbar_wrap" data-bs-theme="dark">
    <div class="container-fluid min_nav_head">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="ナビゲーションの切替"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">ポートフォリオ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" href="/contact">コンタクト</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<style>
  .nav_wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: darkcyan;
  }

  .nav_head {
    display: none;
  }

  @media screen and (min-width: 500px) {
    .nav_head {
      font-size: 1.25em;
      padding: 16px;
      display: flex;
      justify-content: flex-end;
      min-width: 500px;
    }
  }

  .navbar_wrap {
    padding: 0px;
  }

  .min_nav_head {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
  @media screen and (min-width: 500px) {
    .min_nav_head {
      display: none;
    }
  }

  .min_nav_head_l {
    padding-left: 6px;
  }

  .nav_content {
    top: 6px;
    padding: 2px 12px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
  }

  .nav_content,
  .nav_content:hover,
  .nav_content:visited {
    color: white;
    text-decoration: none;
  }

  .nav_content:hover {
    background-color: cadetblue;
  }

  .nav_content_l {
    border: none;
    position: fixed;
    top: 16px;
    left: 16px;
    background-color: transparent;
    font-size: 1.25em;
    margin-right: 16px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 5px;
  }
</style>
